form {
    background-color: $white-shade;
    border: 3px solid black;
    border-radius: 20px;
    display: none;
    margin: 0 auto;
    margin-top: 50px;
}

fieldset {
    border: none;
    padding-top: 3%;
    padding-bottom: 3%;
    font-family: 'Source Sans Pro', sans-serif;
}

input:not(.submit) {
    opacity: 0;
    position: absolute;
}

label {
    margin-right: 15px;  
}

label:last-child {
    margin-right: 0px;
}

label:hover {
    background-color: $accent-color;
    border-radius: 8px;
    box-shadow: 2px 3px;
}

input[type="radio"]:checked + label {
    //background-color: $accent-color;
    background-color: #61bfbf;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 2px 3px;
    padding: 3px;
}

input[type="submit"] {
    text-decoration: none;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 2px 3px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 3%;
    padding: 5px;
}


input[type="submit"]:hover {
    background-color: $accent-color;
}



//tablet
@media (max-width: 768px) {
    form {
        background-color: $white-shade;
        border: 3px solid black;
        border-radius: 20px;
    }
}


//phone
@media (max-width: 330px) {
    fieldset {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start; 
    }
}