form {
    background-color: #fff9;
    border: 3px solid black;
    border-radius: 20px;
    display: none;
    margin: 0 auto;
    margin-top: 50px;
}

fieldset {
    border: none;
    padding-top: 3%;
    padding-bottom: 3%;
    font-family: 'Source Sans Pro', sans-serif;
}

.question-1, .question-2, .question-3, .question-4, .question-5,  {
    // border: 2px solid lightcoral;
}

input:not(.submit) {
    opacity: 0;
    position: absolute;
}

label {
    margin-right: 10px;  
}

label:last-child {
    margin-right: 0px;
}

label:hover {
    background-color: #f700f7;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 2px 3px;
    
}

input[type="radio"]:checked + label {
    background-color: #f700f7;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 2px 3px;
}

input[type="submit"] {
    text-decoration: none;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 2px 3px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 3%;
    padding: 5px;
    width: 15%;
}


input[type="submit"]:hover {
    background-color: #f700f7;
}

.next {
    display: none;
}

//tablet
@media (max-width: 768px) {
    form {
        background-color: #fff9;
        border: 3px solid black;
        border-radius: 20px;
    }
}


//phone
@media (max-width: 330px) {
    fieldset {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start; 
    }
}